{% extends 'base.html' %}

{% block content %}

<!-- Boostrap has 12 columns on the page so here we are just populating these two
The number next to col refers to the width. -->

<div class="row">
    <div class="col-2">
        <img src="{{ solution.icon.url }}" class="img-fluid" />
    </div>
    <div class="col-10">
        <h1>{{ solution.title }}</h1>
    </div>
</div>

<div class="row pt-3">
    <div class="col-8">
        <img src="{{ solution.image.url }}" class="img-fluid" />
    </div>
    <div class="col-4">
        <!-- Using javascript to submit the form of the vote create lower down-->
        <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btw btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ solution.votes_total }}</button></a>
    </div>
</div>

<div class="row pt-2">
    <div class="col-3"">
        <h4>Uploaded by <span class="oi oi-person"></span> {{ solution.user.username }}</h4>
    </div>
    <div class="col-3">
        <a href="{{ solution.url }}"><h4><span class="oi oi-fork"></span> To Version Control</h4></a>
    </div>
    <div class="col-3"">
        <h4><span class="oi oi-clock"></span> {{ solution.pub_date_pretty }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <p>{{ solution.body|linebreaks }}</p>
    </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' solution.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}
