{% extends 'base.html' %}

{% block content %}

{% for solution in solutions.all %}


<div class="row pt-5">
    <div class="col-2" onclick="window.location='{% url 'sDetail' solution.id %}';" style="cursor: pointer;">
        <img src="{{ solution.icon.url }}" class="img-fluid" />
    </div>
    <div class="col-6" onclick="window.location='{% url 'sDetail' solution.id %}';" style="cursor: pointer;">
        <h1>{{ solution.title }}</h1>
        <p>{{ solution.summary }}</p>
    </div>
    <div class="col-2">
        <!-- Using javascript to submit the form of the vote create lower down-->
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btw btn-primary btn-sm btn-block"><span class="oi oi-caret-top"></span> Upvote {{ solution.votes_total }}</button></a>
    </div>
</div>

<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' solution.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endfor %}

{% endblock %}
