{% extends 'base.html' %}

{% block content %}

{% if error %}

<div class="alert alert-danger" role="alert">
    All field are required
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container col-3">
        <h2>Upload a Solution</h2>
        <!-- enctype is code to allow to include images-->
        <form method="POST" action="{% url 'sUpload' %}" enctype="multipart/form-data">
        <!-- This is for security reasons -->
        <!-- Post request as opposed to get request -->
        {% csrf_token %}
        Title:
        <br />
        <input type="text" name="title" />
        <br />
        Body:
        <br />
        <textarea name="body"></textarea>
        <br />
        Version Control link:
        <br />
        <input type="text" name="url" />
        <br />
        Icon:
        <br />
        <input type="file" name="icon" />
        <br />
        Image:
        <br />
        <input type="file" name="image" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Add Solution"/>
        </form>
    </div>
</div>
  
{{ error }}

{% else %}

<br/>
<br/>
<br/>

<div class="jumbotron jumbotron-fluid">
    <div class="container col-3">
        <h2>Upload a Solution</h2>
        <!-- enctype is code to allow to include images-->
        <form method="POST" action="{% url 'sUpload' %}" enctype="multipart/form-data">
        <!-- This is for security reasons -->
        <!-- Post request as opposed to get request -->
        {% csrf_token %}
        Title:
        <br />
        <input type="text" name="title" />
        <br />
        Body:
        <br />
        <textarea type="text" name="body"></textarea>
        <br />
        Version Control link:
        <br />
        <input type="text" name="url" />
        <br />
        Icon:
        <br />
        <input type="file" name="icon" />
        <br />
        Image:
        <br />
        <input type="file" name="image" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Add Solution"/>
        </form>
    </div>
</div>

{% endif %}

{% endblock %}
