{% extends 'base.html' %}

{% block content %}

{% load static %}

<br/>

<section>
    <div class="jumbotron">

        <div class="jumbotron text-center bg-white">
            <div class="container">
                <h1 class="jumbotron-heading">Problems</h1>
                <p class="lead text-muted">Humanity's grant challenges</p>
                <p>
                    <a class="btn btn-primary" href="{% url 'pHome' %}">Expore problems</a>
            </p>
            </div>
        </div>

        <div class="jumbotron text-center bg-white">
            <div class="container">
                <h1 class="jumbotron-heading">Solutions</h1>
                <p class="lead text-muted">Solutions through tech</p>
                <p>
                    <a class="btn btn-primary" href="{% url 'sHome' %}">Expore solutions</a>
                </p>
            </div>
        </div>


    </div>
</section>

<div class="jumbotron text-center bg-gray">
    <div class="container col-7">
        <p>
            We hack. We enable. We empower.
            Driving the creation and development of open source solutions to pressing societal & humanitarian challenges is what we do. 
        </p>
    </div>
</div>

{% endblock %}
